## Core latex/pdflatex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot

## Bibliography auxiliary files
*.bbl
*.blg

## Build tool auxiliary files
*.fdb_latexmk
*.synctex.gz

# hyperref
*.brf

# glossaries
*.glo

# Thesis simplification
Thesis_Ronaldo_Chaves*.pdf

# Fortran exec files
*.so
*so.dSYM